header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 20px 60px;

    .box-Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
        gap: 10px;
    }
}
.Link{
    text-decoration: none;
    color: black;
}